
body{
    font-size:45px;
  background-image:url("moc-site-images/background pieces.svg"),
    linear-gradient(rgb(142, 190, 221),rgb(187, 187, 187));
    margin:0px;
}

/*nav*/
nav{
    background:rgba(9, 33, 65, 0.5);
    height:200px;
    display:flex;
    justify-content: center;
    flex-direction:row;
}
nav img{
    height:160px;
    width:160px;
    margin:0px;
    padding:0px;
}
nav li{
    margin:0px;
    padding:0px;
}
nav ul{
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    list-style:none;
    gap:80px;
}

.nav-seperator{
    margin:0px;
    padding:0px;
    background:white;
    height:5px;
    width:100%;
}

/*Banner-title*/
.banner-title{
    background:rgba(0, 0, 0,0.3);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height:1600px;
}
.banner-title img{
    width:1500px;
    height:1500px;
}
.title{
    font-size:200px;
    color:white;
}

/*About*/
.about{
    height:1000px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}


/*Stories*/
.stories{
    height:1500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.story1-container,.story2-container,.story3-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.story1-container img, .story2-container img,.story3-container img{
    width:200px;
    height:200px;
}

/*Screenshots*/
.screenshots{
    height:1000px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:100px;
}
.screenshots img{
    width:200px;
    height:200px;
}

/*Contacts and footer*/
footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}